* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
  background-color: black;
}

svg {
  width: 100vw;
  height: 100vh;
  max-width: 100vh;
  max-height: 100vw;
  overflow: visible;
}
